# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Rendered reports
product/*.html
analysis/*.docx
analysis/*.pdf
docs/*.html
docs/*.docx
docs/*.pdf

# output files
output/

# Data files
data/*/*

# Products
product/*/*.png
product/*/*.nc
product/*/*.WebM
product/*/*.gif

# Keep gitkeep
!.gitkeep

# knitr and R markdown default cache directories
/analysis/cache/
/analysis/figures/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user

# Temporary files
.DS_Store